### C++ ###
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Makefiles (auto generated)
Makefile
Makefile.in

# Vim swap files
*.sw*

# Python libs
*.pyc

# Virtual interfaces pcap files
*.pcap
